/* .card-c{
    display: flex;
    justify-content: center;
}

.card-end{
    display: flex;
    justify-content: flex-end;
} */

/* 
@media screen and (max-width:576px) {
    .box-w{
        width: 80%;
    }
  } */